<header>
       
    <section>
      <h1>Aromatico</h1>
      <div class="conten">
        <p>Bienvenidos</p>
        <a href="/products/create">Crear Producto</a>
        <a href="/">Todos los Productos</a>
        <a href="/">Contacto</a>
      </div>
    </section>
   
    
  </header>